#ignore any files ending in the following extensions
*.ai
*.csv
*.db
.DS_Store
*.doc
*.docx
*.map
*.pdf
*.psd
*.xls
*.xlsx
*.sh

#ignore any files from these folders
.git
.vscode
vendor

#ignore these for security considerations
.backups
*.config
_config
.env
error_log
*.log

#allow public files to be source controlled
#unlike the files in S3, these are accessed frequently enough, and they're small enough, that they won't cause problems
!/public/files/**

#ignore any files that are currently open
~*
